body{
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    width: 100%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: "Londrina Solid", fantasy;
    font-size: 3em;
    text-align: center;
    padding: 0.4em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

article{
    padding: 0 2rem;
    font-family: "Bree Serif";
    font-size: 1.2em;
}

h2{
    font-family: "Oswald";
}

footer{
    padding: 4rem 2rem 0rem 2rem;
    font-family: "Bree Serif";
    float: right;
}

#stack{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 3em auto 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wr{
    width: 22%;
    text-align: center;
    height: 100px;
    line-height: 90px;
    -webkit-box-shadow: 0px 4px 3px 3px #ddd;
            box-shadow: 0px 4px 3px 3px #ddd;
}

a{
    text-decoration: none;
    color: inherit;
}

.first:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
}

.first{
    background-color: white;
    width: 100%;
    height: 80%;
}

.second{
    background-color: #2ae093;
    width: 100%;
    height: 20%;
}

span{
    font-family: "Oswald"
}

@media (max-width: 480px){
    #stack{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 0;
    }
    .wr{
        width: 40%;
        margin: 1rem 0;
    }
}
